SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,dicho.rw,www.dicho.rw
CSRF_TRUSTED_ORIGINS=https://dicho.rw,https://www.dicho.rw
SQLITE_PATH=/app/data/db.sqlite3
MEDIA_ROOT=/app/media
